<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getLastName()}">VALUE</p>
<p th:text="${user.getAge()}">VALUE</p>
<p th:text="${user.getEmail()}">VALUE</p>
<p th:text="${user.getId()}">VALUE</p>

<a th:href="@{/users/{id}/edit?id={id}(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/users/show?id={id}(id=${user.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>