<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/new}" th:object="${user}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="last_name">Enter last name</label>
    <input type="text" th:field="*{lastName}" id="last_name">
    <br/>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age">
    <br/>
    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <input type="submit" value="Create"/>
</form>

</body>
</html>